@model GestorActividades.Models.Actividad

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Eliminar Actividad</h1>

    <h3 class="text-danger">¿Está seguro de que desea eliminar esta actividad?</h3>
    <div>
        <h4>Detalles de la actividad</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
        </dl>

        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="ActividadID" />
            <input type="submit" value="Eliminar" class="btn btn-danger btn-lg" />
            <a asp-action="Index" class="btn btn-secondary btn-lg ms-3">Volver a la Lista</a>
        </form>
    </div>
</div>
